<p>
  <strong><%=t('.commenter')%>:</strong>
  <%= comment.user.email %>
</p>
 
<p>
  <strong><%=t('.comment')%>:</strong>
  <%= comment.body %>
</p> 
<% if can? :destroy, comment %>
  <p>
    <%= link_to t('.destroy_comment'), [comment.article, comment],
        method: :delete,
        data: { confirm: t('.are_you_sure') } %>
        
  </p>
<% end %>