<h1><%=t('.listing_articles')%></h1>
<% if can? :manage, Article %> 
  <div>
    <%= link_to t('.new_article'), new_article_path, id:"Btn_new_Article"%>
  </div>
<% end %>

<table>

  <tr>
    <th><%=t('.title')%></th>
    <th><%=t('.text')%></th>
    <th><%=t('.user')%></th>
    <th colspan="3" ></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.user.email %></td>
      <td class="noData"><%= link_to t('.show'), article_path(article) %></td>
      <%if can? :manage, Article %>
        <td class="noData"><%= link_to t('.edit'), edit_article_path(article) %></td>
        <td id="Destroy" class="noData"><%= link_to t('.destroy'), article_path(article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
      <% end %>

    </tr>
  <% end %>
</table>



