<h1>Listing articles</h1>
<% if can? :manage, Article %> 
  <div>
    <%= link_to 'New article', new_article_path %>
  </div>
<% end %>

<table>

  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>user</th>
    <th colspan="3" class="noData"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.user.email %></td>
      <td class="noData"><%= link_to 'Show', article_path(article) %></td>
      <%if can? :manage, Article %>
        <td class="noData"><%= link_to 'Edit', edit_article_path(article) %></td>
        <td id="Destroy" class="noData"><%= link_to 'Destroy', article_path(article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
      <% end %>

    </tr>
  <% end %>
</table>



