<p class=User> 
  <strong><%=t('.user')%>:</strong>
  <%= @article.user.email %>
</p>

<p class="Title">
  <strong><%=t('.title')%>:</strong>
  <%= @article.title %>
</p>

<p class="Text">
  <strong><%=t('.text')%>:</strong>
  <%= @article.text %>
</p>
 
<h2><%=t('.comments')%></h2>
<%= render @article.comments %>

 
<h2><%= t('.add_comment')%></h2>
<%= render 'comments/form' %>
 
 <% if can? :manage, Article %>
  <%= link_to t('.edit'), edit_article_path(@article) %> |
  <% end %>
<%= link_to t('.back'), articles_path %>

