<table>
    <tr>
        <th><%=t('.user')%></th>
        <th><%=t('.role')%></th>
    </tr>

    <%@users.each do |user|%>
        <tr>
            <td> <%=user.email%>  </td> 
            <td> <%=user.role%>  </td> 
        </tr>
    <%end%>
</table>

<%= link_to t('.home'), welcome_index_path %> 
